@import url("heading_nav_bar.css");
@import url("footer_nav_bar.css");
@import url("nowmixing-body.css");

html, body {
	font: 12px "Courier New", Helvetica, Arial, sans-serif;
	font: -webkit-small-control;
	font-weight: normal;
	margin-right: auto;
	margin-left: auto;
}


h1 {
	text-align: center;
	margin: 0px;
	width: 200px;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: block;
}


#container { 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 60px;
}
